<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="field-wrapper">
    <input
      type="text"
      formControlName="paymentName"
      placeholder="Наименование платежа"
      [ngClass]="{
        invalid:
          form.controls.paymentName.dirty && form.controls.paymentName.errors
      }"
    />
    <div
      class="error-message"
      *ngIf="
        form.controls.paymentName.dirty && form.controls.paymentName.errors
      "
    >
      <span>
        {{ getErrorMessage(form.controls.paymentName.errors) }}
      </span>
    </div>
  </div>
  <div class="field-wrapper">
    <input
      type="text"
      formControlName="costPerDay"
      placeholder="Стоимость за день"
      [ngClass]="{
        invalid:
          form.controls.costPerDay.dirty && form.controls.costPerDay.errors
      }"
    />

    <div
      class="error-message"
      *ngIf="form.controls.costPerDay.dirty && form.controls.costPerDay.errors"
    >
      <span>
        {{ getErrorMessage(form.controls.costPerDay.errors) }}
      </span>
    </div>
  </div>
  <button-comp [name]="'Добавить'" [disabled]="form.invalid"></button-comp>
</form>

<div class="table">
  <div class="table__heading columns_style">
    <div title="Наименование платежа">Наименование платежа</div>
    <div title="Стоимость">Стоимость</div>
    <div *ngFor="let month of months" class="month" title="{{ month.name }}">
      {{ month.name }}
    </div>
    <div title="Удалить">Удалить</div>
  </div>

  <div class="table__items">
    <ng-container *ngIf="payments.length > 0">
      <ng-container *ngFor="let payment of payments; let i = index">
        <div class="payment columns_style">
          <div class="name" title="{{ payment.paymentName }}">
            {{ payment.paymentName }}
          </div>
          <div class="cost" title="{{ payment.costPerDay }}">
            {{ payment.costPerDay }}
          </div>
          <ng-container *ngFor="let month of months">
            <div class="month">
              <input
                type="checkbox"
                (change)="
                  getSumOfMonthlyPayment(
                    $event.target.checked,
                    month.daysNumber,
                    i,
                    payment.costPerDay
                  )
                "
              />
            </div>
          </ng-container>

          <div class="delete-btn">
            <mat-icon
              inline="true"
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="deletePayment(i)"
              >close</mat-icon
            >
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="total-sum">
    Израсходовано средств: <b>{{ totalSum }}</b>
  </div>
</div>
