:root {
  --accent-red: #ff3b30;
  --accent-orange: #ff9500;
  --accent-yellow: #ffcc00;
  --accent-green: #34c759;
  --accent-teal: #5ac8fa;
  --accent-blue: #007aff;
  --accent-indigo: #5856d6;
  --accent-purple: #af52de;
  --accent-pink: #ff2d55;
  --light-01: #ffffff;
  --light-02: #efeff4;
  --light-03: rgba(239, 239, 244, 0.3);
  --light-24: rgba(255, 255, 255, 0.24);
  --dark-100: #2c2c2e;
  --grey-01: #8f8f94;
  --grey-02: #aeaeb2;
  --grey-03: #c7c7cc;
  --grey-04: #d1d1d6;
  --disabled-100: #999999;
  --disabled-24: rgba(153, 153, 153, 0.24);
  --label-primary: #1c1c1e;
  --label-secondary: rgba(60, 60, 67, 0.6);
  --label-ternary: rgba(60, 60, 67, 0.3);
  --label-quaternary: rgba(60, 60, 67, 0.18);
}
